{% extends 'basic_view.html' %} {% block wrap_class %} {% endblock wrap_class %}
{% block content_wrap %}
<!--

  About Page
-->
{% block title %}
About
        {% endblock title %}
        
<div class="container">
    <h1 class="display-3">MES Talk</h1>
    <strong class="display-">
        A platform for students of MES College Marmapally to share
        thoughts,information,ideas. Sign Up and Enjoy...
    </strong>
    <h1 class="display-4 mt-3">About Developer</h1>
    <i class="display-">
        The website is developd by Aseel SM under TinkerHub MES College Marmapally </i
    ><br/>
    <a href="https://www.instagram.com/aseelsm__/"
    ><span style="font-size: 2em; color: rgb(59, 17, 10);">
      <i class="fab fa-instagram-square"></i> </span
    ></a>
    <a href="mailto:aseelsm0027@gmail.com"
    ><span style="font-size: 2em; color: rgb(59, 17, 10);">
      <i class="fas fa-envelope-square"></i> </span
    ></a>
    <a href="tel:+919207418150"
    ><span style="font-size: 2em; color: rgb(59, 17, 10);">
      <i class="fas fa-phone"></i> </span
    ></a>
</div>
{% endblock content_wrap %}
